<span class="absolute text-orange-400 m-0 r-1 right-0 block float-left m-4 inline-block hover:underline">Teste</span>

<!-- <div class="mb-2">
    <h3 class="font-bold text-lg">Mais Lidos</h3>
    <div class="flex flex-col gap-2 mt-2">
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="file-text"></i> Lorem ipsum dolor sit amet.</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="file-text"></i> Lorem ipsum dolor sit amet consectetur adipisicing.</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="file-text"></i> Lorem ipsum dolor sit.</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="file-text"></i> Lorem ipsum dolor sit amet consectetur.</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="file-text"></i> Lorem ipsum dolor sit amet.</a>
    </div>
</div>
<div class="mb-2">
    <h3 class="font-bold text-lg">Social e Contato</h3>
    <div class="flex flex-col gap-2 mt-2">
        <a href="{{ github }}" target="_blank" class="flex gap-2 hover:text-amber-500"><i data-feather="github"></i> Github</a>
        <a href="{{ youtube }}" target="_blank" class="flex gap-2 hover:text-amber-500"><i data-feather="youtube"></i>Youtube</a>
        <a href="{{ twitter }}" target="_blank" class="flex gap-2 hover:text-amber-500"><i data-feather="twitter"></i>Twitter</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="mail"></i>usuario@email.com</a>
    </div>
</div>
<div class="mb-2">
    <h3 class="font-bold text-lg">Vídeos</h3>
    <div class="flex flex-col gap-2 mt-2">
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="video"></i> Lorem ipsum dolor sit</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="video"></i> Lorem, ipsum dolor</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="video"></i> Lorem ipsum dolor sit amet</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="video"></i> Lorem ipsum dolor sit amet consectetur</a>
        <a href="#" class="flex gap-2 hover:text-amber-500"><i data-feather="video"></i> Lorem ipsum dolor sit</a>
    </div>
</div> -->