{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
{% for post in posts %}
<div class="p-3 mb-8 bg-slate-100 shadow-md shadow-gray-700 dark:bg-stone-950 dark:shadow-black">
    <div class="flex justify-between items-center">
        <h2 class="text-sm flex items-center gap-2">
            <i data-feather="calendar"></i>
            {{ post.header["date"]|date('d/m/Y') }}
        </h2>
        <div class="text-sm flex items-center gap-2">
            <i class="w-5 h-5" data-feather="tag"></i>
            {% for tag in post.header["tags"] %}
            <a href="{{ url }}/tag/{{ tag['slug'] }}"
                class="dark:text-blue-200 dark:hover:text-amber-500 transition duration-300 ease-in-out no-underline">{{ tag['name'] }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url }}/post/{{ post.slug }}/"
        class="block font-bold text-xl my-2 dark:text-gray-100 dark:hover:text-amber-500 transition duration-300 ease-in-out no-underline">{{ post.title }}</a>
    <p class="mb-4">{{ post.excerpt }}</p>
    <div class="text-sm flex items-center gap-2">
        <i class="w-4 h-4" data-feather="edit-2"></i>
        <a href="{{ github }}" target="_blank"
            class="dark:text-blue-200 dark:hover:text-amber-500 transition duration-300 ease-in-out no-underline">Fernando Nunes</a>
    </div>
</div>
{% endfor %}
<div class="w-full flex items-center justify-center gap-2">
{% for i in range(1, num_pages) %}
    {% if(i == 1) %}
    <a class="p-1 hover:text-amber-400" href="{{ url }}/">{{ i }}</a>
    {% else %}
    <a class="p-1 hover:text-amber-400" href="{{ url }}/{{ i }}/">{{ i }}</a>
    {% endif %}
{% endfor %}
</div>
{% endblock %}